* {
  box-sizing: border-box;
}

:root {
  --primary: #aed6f1;
  --black: #333;
  --secondary: #ebf5fb;
  --blue: #21618c;
}

body {
  margin: 0px;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 112.5%;
  line-height: 1.4;
  color: var(--black);
  background-color: var(--secondary);
}

input,
button,
textarea {
  font-size: inherit;
}

header {
  padding: 20px;
  margin-bottom: 40px;
}

.button {
  background: var(--black);
  color: white;
  border-bottom: none;
  padding: 8px;
  border-radius: 4px;
}

main {
  padding: 20px;
  margin-bottom: 40px;
}

img {
  width: 100%;
  height: auto;
}

figure {
  padding: 0;
  margin: 0;
}

footer {
  padding: 20px;
  margin-bottom: 40px;
}

.column {
  display: flex;
}
