* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 112.5%;
  line-height: 1.4;
  color: var(--black);
  background-color: var(--lightskyblue);
}

input,
button,
textarea {
  font-size: inherit;
}
main {
  padding: 20px;
  margin-bottom: 40px;
}

figure {
  padding: 0;
  margin: 0;
}

small {
  padding: 20px 0;
  margin: 20px 0;
  display: inline-block;
}

img {
  width: 100%;
  height: auto;
  max-width: 600px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
